.AboutUsBanner {
  position: relative;
  width: 100vw;
  min-height: 400px;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: url('/src/assets/img/banner4.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  box-sizing: border-box;
}

.AboutUsBanner__overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 60, 150, 0.6);
  background-image: url('/src/assets/img/backgroundoverlay1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.AboutUsBanner__content {
  position: relative;
  color: #fff;
  text-align: start;
  max-width: 900px;
  padding: 40px 30px;
  z-index: 3;
  margin-right: 25rem;
  margin-left: 5rem;
}

.AboutUsBanner__content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.1;
}

.AboutUsBanner__content p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .AboutUsBanner, .AboutUsBanner__overlay {
    align-items: center;
    justify-content: center;
  }
  .AboutUsBanner__content {
    text-align: center;
    padding: 32px 10px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .AboutUsBanner {
    min-height: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
  }
  .AboutUsBanner__content h1 {
    font-size: 1rem;
  }
  .AboutUsBanner__content p {
    font-size: 0.7rem;
  }
}
